.panel-footer{
    position: fixed;
    padding: 1.2em;
    background-color:#8ecaff;
    left: 0;
    bottom: 0;
    width: 100%;
   }

.my-navbar-color {
    background-color: #8ecaff;
}

.form-info {
    padding: 3px 0px;
    font-style: italic;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.02); 
    border: 1px solid #8ecaff;
}

.alert {
    position: fixed !important;
    top: 80px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 9999 !important; 
    width: 80% !important; 
    max-width: 600px !important; 
}

footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    z-index: 1 !important;
    background-color: #f8f9fa !important; /* Světle šedá barva pozadí footru */
    padding: 10px 0 !important;
}

body {
    padding-bottom: 50px !important; /* Rezerva pro footer */
}

.container {
    padding: 10px !important; /* Přidání paddingu */
}