.panel-footer{
    position: fixed;
    padding: 1.2em;
    background-color:#419ae9;
    left: 0;
    bottom: 0;
    width: 100%;
   }

.my-navbar-color {
    background-color: #419ae9;
}

.form-info {
    padding: 3px 0px;
    font-style: italic;
}


/* STEJNĚ TO NEFUNGUJE...*/
.alert {
    position: fixed !important;
    top: 10px !important; /* Můžete upravit pozici podle potřeby */
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 9999 !important; /* Nastavte dostatečně vysokou hodnotu */
    width: 80% !important; /* Můžete upravit šířku podle potřeby */
    max-width: 600px !important; /* Maximální šířka */
}

footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    z-index: 1 !important;
    background-color: #f8f9fa !important; /* Světle šedá barva pozadí footru */
    padding: 10px 0 !important;
}

body {
    padding-bottom: 100px !important; /* Rezerva pro footer */
}

.container {
    padding: 20px !important; /* Přidání paddingu */
}