<?xml version="1.0" encoding="UTF-8"?>
<education>
  <category name="Studia">
    <course>
      <nazev>Studium ICT koordinátor</nazev>
      <datum>2024-09-01</datum>
      <forma>Prezenční</forma>
      <lektor>Prof. Dr. Jan Novák</lektor>
      <anotace>Kurz poskytuje hloubkové znalosti v oblasti informatiky a přípravu na akademickou kariéru.</anotace>
      <odkaz>https://www.npi.cz/vzdelavani/15-vzdelavaci-programy/84544-ict-koordinator-studium-k-vykonu-specializovane-cinnosti-15</odkaz>
      <cena>30000</cena>
    </course>
    <course>
      <nazev>test33333</nazev>
      <datum>18/05/2024 20:04 - 23:04</datum>
      <forma>Online</forma>
      <lektor>pavel malý</lektor>
      <anotace>test3</anotace>
      <odkaz>weqweqwe</odkaz>
      <cena>ZDARMA</cena>
    </course>
  </category>
  <category name="DIGI kurzy">
    <course>
      <nazev>Základy digitálního marketingu</nazev>
      <datum>2024-05-15</datum>
      <forma>Online</forma>
      <lektor>MgA. Petra Veselá</lektor>
      <anotace>Kurz zavádí účastníky do světa digitálního marketingu, včetně SEO a sociálních sítí.</anotace>
      <odkaz>http://www.digiacademy.cz/kurzy/digitalni-marketing</odkaz>
      <cena>ZDARMA</cena>
    </course>
  </category>
  <category name="Kmenové VP">
    <course>
      <nazev>Adaptace dítěte v MŠ</nazev>
      <datum>2024-08-20</datum>
      <forma>Prezenční</forma>
      <lektor>Dr. Tomáš Černý</lektor>
      <anotace>Kurz se zaměřuje na moderní metody při adaptaci dítěte v MŠ.Kurz se zaměřuje na moderní metody při adaptaci dítěte v MŠ.</anotace>
      <odkaz>http://www.vlada.cz/kurzy/adaptacevMS</odkaz>
      <cena>15000</cena>
    </course>
  </category>
</education>
